In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# Path for CSV file
dup_city = "Cities_Need_Cleaning.csv"

In [3]:
# Read Files
city_dups = pd.read_csv(dup_city)

In [4]:
# Data into df; delete extra index column
city_dup = pd.DataFrame(city_dups)
del city_dup["Unnamed: 0"]

In [5]:
# View df
city_dup

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALABAMA,HUNTSVILLE,2016,190106,876,10,80,213,573,4565,881,3279,405,0
2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
3,ALASKA,ANCHORAGE,2016,301239,1692,9,302,326,1055,6853,1031,4901,921,38
4,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,100038,141,0,12,58,71,1042,206,795,41,3
524,WISCONSIN,MADISON,2015,248833,432,3,57,106,266,3170,548,2520,102,4
525,WISCONSIN,MADISON,2016,248833,395,6,56,99,234,3187,434,2593,160,8
526,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113
527,WISCONSIN,MILWAUKEE,2016,600400,4427,53,248,1531,2595,11359,2358,6026,2975,118

In [9]:
# Group by Year, View State by State; copy df to new variable
state_city = city_dup.copy()
shuffle = state_city.sort_values(by=["Year", "State"])
shuffle

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
4,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
6,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
8,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,WASHINGTON,VANCOUVER,2016,171076,319,0,64,69,186,2868,508,1859,501,24
521,WISCONSIN,GREEN BAY,2016,105119,244,1,30,30,183,954,159,768,27,4
523,WISCONSIN,KENOSHA,2016,100038,141,0,12,58,71,1042,206,795,41,3
525,WISCONSIN,MADISON,2016,248833,395,6,56,99,234,3187,434,2593,160,8
527,WISCONSIN,MILWAUKEE,2016,600400,4427,53,248,1531,2595,11359,2358,6026,2975,118

In [21]:
# Split df by year into 2 new dfs
split_15 = shuffle[shuffle["Year"] <= 2015]

split_16 = shuffle[shuffle["Year"] >= 2016]

# Reset index on both dfs; delete columns with old index numbers
split_15 = split_15.reset_index()
del split_15["index"]

split_16 = split_16.reset_index()
del split_16["index"]

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
2,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
3,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
4,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,WASHINGTON,VANCOUVER,2015,171076,356,1,60,60,235,2671,435,1875,361,27
260,WISCONSIN,GREEN BAY,2015,105119,216,1,27,25,163,1035,183,807,45,6
261,WISCONSIN,KENOSHA,2015,100038,126,1,26,50,49,920,152,714,54,2
262,WISCONSIN,MADISON,2015,248833,432,3,57,106,266,3170,548,2520,102,4
263,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113

In [22]:
# Convert to CSV to look at organization
split_15.to_csv("2015_Split_Data.csv")
split_16.to_csv("2016_Splite_Data.csv")

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
2,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
3,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
4,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,WASHINGTON,VANCOUVER,2015,171076,356,1,60,60,235,2671,435,1875,361,27
260,WISCONSIN,GREEN BAY,2015,105119,216,1,27,25,163,1035,183,807,45,6
261,WISCONSIN,KENOSHA,2015,100038,126,1,26,50,49,920,152,714,54,2
262,WISCONSIN,MADISON,2015,248833,432,3,57,106,266,3170,548,2520,102,4
263,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113