In [1]:
# Dependencies
import pandas as pd

In [2]:
# Import Data Files
crime2016 = "2016_crime_original.csv"
crime2018 = "2018_crime_original.csv"

In [3]:
# Read Files
crime16 = pd.read_csv(crime2016)
crime18 = pd.read_csv(crime2018)

In [4]:
# Start on 2016 Data
df16 = pd.DataFrame(crime16)
df16

,State,City,Unnamed: 2,Population1,Violent\r\ncrime,Murder,Rape\r\n(revised\r\ndefinition)2,Rape\r\n(legacy\r\ndefinition)3,Robbery,Aggravated\r\nassault,Property\r\ncrime,Burglary,Larceny-\r\ntheft,Motor\r\nvehicle\r\ntheft,Arson4
0,ALABAMA,HUNTSVILLE,2015,"190,106",723,5,65,0,173,480,"4,121",836,"2,903",382,0
1,ALABAMA,HUNTSVILLE,2016,"190,106",876,10,80,0,213,573,"4,565",881,"3,279",405,0
2,ALASKA,ANCHORAGE,2015,"301,239","1,615",16,323,0,271,"1,005","5,732",811,"4,516",405,63
3,ALASKA,ANCHORAGE,2016,"301,239","1,692",9,302,0,326,"1,055","6,853","1,031","4,901",921,38
4,ARIZONA,CHANDLER,2015,"258,875",206,0,26,0,51,129,"2,524",384,"2,033",107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,"100,038",141,0,0,12,58,71,"1,042",206,795,41,3
524,WISCONSIN,MADISON,2015,"248,833",432,3,57,0,106,266,"3,170",548,"2,520",102,4
525,WISCONSIN,MADISON,2016,"248,833",395,6,56,0,99,234,"3,187",434,"2,593",160,8
526,WISCONSIN,MILWAUKEE,2015,"600,400","4,302",73,189,0,"1,674","2,366","11,680","2,587","6,072","3,021",113
527,WISCONSIN,MILWAUKEE,2016,"600,400","4,427",53,248,0,"1,531","2,595","11,359","2,358","6,026","2,975",118

In [5]:
# Rename Columns
df16.columns = ["State", "City", "Year", "Population", "Violent Crime", "Murder", "Rape-Revised", "Rape-Legacy", "Robbery", "Assault",
                "Property", "Burglary", "Larceny", "MV Theft", "Arson"]

In [6]:
# Remove Commas from All Values
df16 = df16.replace(',','', regex=True)

In [7]:
# Specify Columns Requiring Data Type Change
cols = ["Year", "Population", "Violent Crime", "Murder", "Rape-Revised", "Rape-Legacy", "Robbery", "Assault", "Property", "Burglary",
        "Larceny", "MV Theft", "Arson"]

In [8]:
# Change Specified Columns
df16[cols] = df16[cols].astype(int)

In [9]:
# Merge Columns by Same Crime
mergedata = df16["Rape-Revised"] + df16["Rape-Legacy"]
df16["Rape"] = mergedata

In [10]:
# Drop Original Merged Columns
df16.drop(columns=["Rape-Revised", "Rape-Legacy"])

,State,City,Year,Population,Violent Crime,Murder,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson,Rape
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,173,480,4121,836,2903,382,0,65
1,ALABAMA,HUNTSVILLE,2016,190106,876,10,213,573,4565,881,3279,405,0,80
2,ALASKA,ANCHORAGE,2015,301239,1615,16,271,1005,5732,811,4516,405,63,323
3,ALASKA,ANCHORAGE,2016,301239,1692,9,326,1055,6853,1031,4901,921,38,302
4,ARIZONA,CHANDLER,2015,258875,206,0,51,129,2524,384,2033,107,26,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,100038,141,0,58,71,1042,206,795,41,3,12
524,WISCONSIN,MADISON,2015,248833,432,3,106,266,3170,548,2520,102,4,57
525,WISCONSIN,MADISON,2016,248833,395,6,99,234,3187,434,2593,160,8,56
526,WISCONSIN,MILWAUKEE,2015,600400,4302,73,1674,2366,11680,2587,6072,3021,113,189
527,WISCONSIN,MILWAUKEE,2016,600400,4427,53,1531,2595,11359,2358,6026,2975,118,248

In [11]:
# Reorganize Columns
df16 = df16[["State", "City", "Year", "Population", "Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property", "Burglary",
             "Larceny", "MV Theft", "Arson"]]
df16

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALABAMA,HUNTSVILLE,2016,190106,876,10,80,213,573,4565,881,3279,405,0
2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
3,ALASKA,ANCHORAGE,2016,301239,1692,9,302,326,1055,6853,1031,4901,921,38
4,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,100038,141,0,12,58,71,1042,206,795,41,3
524,WISCONSIN,MADISON,2015,248833,432,3,57,106,266,3170,548,2520,102,4
525,WISCONSIN,MADISON,2016,248833,395,6,56,99,234,3187,434,2593,160,8
526,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,1674,2366,11680,2587,6072,3021,113
527,WISCONSIN,MILWAUKEE,2016,600400,4427,53,248,1531,2595,11359,2358,6026,2975,118

In [12]:
# Start on 2018 Data
df18 = pd.DataFrame(crime18)
df18

,State,City,Unnamed: 2,Population1,Violent \r\ncrime,Murder,Rape2,Robbery,Aggravated \r\nassault,Property \r\ncrime,Burglary,Larceny-\r\ntheft,Motor \r\nvehicle \r\ntheft,Arson3
0,ALABAMA,BIRMINGHAM,2017,"212,178","1,833",42.0,92,473,"1,226","6,472","1,293","4,360",819,113.0
1,ALABAMA,BIRMINGHAM,2018,"212,178","1,978",47.0,86,398,"1,447","6,280","1,152","4,233",895,76.0
2,ALABAMA,MOBILE4,2017,"248,431",937,22.0,57,236,622,"6,493","1,509","4,399",585,35.0
3,ALABAMA,MOBILE5,2018,"248,431",820,15.0,73,185,547,"6,027","1,235","4,183",609,24.0
4,ALABAMA,MONTGOMERY,2017,"199,099",656,19.0,35,185,417,"4,246","1,031","2,797",418,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,WASHINGTON,VANCOUVER,2018,"176,884",402,2.0,87,70,243,"2,876",393,"1,981",502,20.0
550,WISCONSIN,GREEN BAY,2017,"105,331",211,0.0,39,25,147,920,139,751,30,7.0
551,WISCONSIN,GREEN BAY,2018,"105,331",243,1.0,40,25,177,810,106,657,47,3.0
552,WISCONSIN,MADISON,2017,"255,850",477,7.0,39,110,321,"3,243",433,"2,651",159,5.0
553,WISCONSIN,MADISON,2018,"255,850",516,3.0,55,93,365,"2,913",412,"2,260",241,5.0

In [13]:
# Rename Columns
df18.columns = ["State", "City", "Year", "Population", "Violent Crime", "Murder", "Rape", "Robbery", "Assault", "Property",
                "Burglary", "Larceny", "MV Theft", "Arson"]

In [14]:
# Remove Commas from All Values
df18 = df18.replace(',','', regex=True)
df18

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,BIRMINGHAM,2017,212178,1833,42.0,92,473,1226,6472,1293,4360,819,113.0
1,ALABAMA,BIRMINGHAM,2018,212178,1978,47.0,86,398,1447,6280,1152,4233,895,76.0
2,ALABAMA,MOBILE4,2017,248431,937,22.0,57,236,622,6493,1509,4399,585,35.0
3,ALABAMA,MOBILE5,2018,248431,820,15.0,73,185,547,6027,1235,4183,609,24.0
4,ALABAMA,MONTGOMERY,2017,199099,656,19.0,35,185,417,4246,1031,2797,418,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,WASHINGTON,VANCOUVER,2018,176884,402,2.0,87,70,243,2876,393,1981,502,20.0
550,WISCONSIN,GREEN BAY,2017,105331,211,0.0,39,25,147,920,139,751,30,7.0
551,WISCONSIN,GREEN BAY,2018,105331,243,1.0,40,25,177,810,106,657,47,3.0
552,WISCONSIN,MADISON,2017,255850,477,7.0,39,110,321,3243,433,2651,159,5.0
553,WISCONSIN,MADISON,2018,255850,516,3.0,55,93,365,2913,412,2260,241,5.0

In [15]:
# Specify Columns Requiring Data Type Change
cols2 = ["Murder", "Arson"]

In [16]:
# Change Specified Columns
df18[cols2] = df18[cols2].astype(float)
pd.options.display.float_format = '{:.0f}'.format

In [17]:
# Preview DataFrame
df18

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,BIRMINGHAM,2017,212178,1833,42,92,473,1226,6472,1293,4360,819,113
1,ALABAMA,BIRMINGHAM,2018,212178,1978,47,86,398,1447,6280,1152,4233,895,76
2,ALABAMA,MOBILE4,2017,248431,937,22,57,236,622,6493,1509,4399,585,35
3,ALABAMA,MOBILE5,2018,248431,820,15,73,185,547,6027,1235,4183,609,24
4,ALABAMA,MONTGOMERY,2017,199099,656,19,35,185,417,4246,1031,2797,418,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20
550,WISCONSIN,GREEN BAY,2017,105331,211,0,39,25,147,920,139,751,30,7
551,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3
552,WISCONSIN,MADISON,2017,255850,477,7,39,110,321,3243,433,2651,159,5
553,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5

In [18]:
# Merge DataFrames
df15_18 = pd.concat([df16, df18])
df15_18

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALABAMA,HUNTSVILLE,2016,190106,876,10,80,213,573,4565,881,3279,405,0
2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
3,ALASKA,ANCHORAGE,2016,301239,1692,9,302,326,1055,6853,1031,4901,921,38
4,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20
550,WISCONSIN,GREEN BAY,2017,105331,211,0,39,25,147,920,139,751,30,7
551,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3
552,WISCONSIN,MADISON,2017,255850,477,7,39,110,321,3243,433,2651,159,5
553,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5

In [19]:
# Reorganize Data
crime_merged = df15_18.copy()
chrono_years = crime_merged.sort_values(by=["Year", "State"])
chrono_years = chrono_years.reset_index()
chrono_years

,index,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
2,4,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
3,6,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
4,8,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,545,WASHINGTON,SPOKANE,2018,217066,791,4,179,105,503,7371,958,5616,797,19
1078,547,WASHINGTON,TACOMA,2018,213504,950,7,84,257,602,5641,963,3674,1004,46
1079,549,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20
1080,551,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3
1081,553,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5

In [20]:
# Delete Column Containing Original Index Numbers
del chrono_years["index"]
chrono_years

,State,City,Year,Population,Violent Crime,Murder,Rape,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,173,480,4121,836,2903,382,0
1,ALASKA,ANCHORAGE,2015,301239,1615,16,323,271,1005,5732,811,4516,405,63
2,ARIZONA,CHANDLER,2015,258875,206,0,26,51,129,2524,384,2033,107,26
3,ARIZONA,GILBERT,2015,247324,95,2,14,14,65,1628,253,1310,65,12
4,ARIZONA,MESA,2015,471034,1019,6,142,219,652,5995,1041,4591,363,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,WASHINGTON,SPOKANE,2018,217066,791,4,179,105,503,7371,958,5616,797,19
1078,WASHINGTON,TACOMA,2018,213504,950,7,84,257,602,5641,963,3674,1004,46
1079,WASHINGTON,VANCOUVER,2018,176884,402,2,87,70,243,2876,393,1981,502,20
1080,WISCONSIN,GREEN BAY,2018,105331,243,1,40,25,177,810,106,657,47,3
1081,WISCONSIN,MADISON,2018,255850,516,3,55,93,365,2913,412,2260,241,5

In [21]:
# Create CSV for Analysis
chrono_years.to_csv("Cleaned_Crime_Data.csv")