In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# Locate CSV files
crime_2016 = "2016_crime_LIV.csv"
#crime_2018 = "crime_2018.csv"

In [3]:
# Read Files
crime16 = pd.read_csv(crime_2016)

#crime18 = pd.read_csv(crime_2018)

In [4]:
# View crime_2016 file
df16 = pd.DataFrame(crime16)
df16

,State,City,Unnamed: 2,Population1,Violent\r\ncrime,Murder,Rape\r\n(revised\r\ndefinition)2,Rape\r\n(legacy\r\ndefinition)3,Robbery,Aggravated\r\nassault,Property\r\ncrime,Burglary,Larceny-\r\ntheft,Motor\r\nvehicle\r\ntheft,Arson4
0,ALABAMA,HUNTSVILLE,2015,"190,106",723,5,65,0,173,480,"4,121",836,"2,903",382,0
1,ALABAMA,HUNTSVILLE,2016,"190,106",876,10,80,0,213,573,"4,565",881,"3,279",405,0
2,ALASKA,ANCHORAGE,2015,"301,239","1,615",16,323,0,271,"1,005","5,732",811,"4,516",405,63
3,ALASKA,ANCHORAGE,2016,"301,239","1,692",9,302,0,326,"1,055","6,853","1,031","4,901",921,38
4,ARIZONA,CHANDLER,2015,"258,875",206,0,26,0,51,129,"2,524",384,"2,033",107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,"100,038",141,0,0,12,58,71,"1,042",206,795,41,3
524,WISCONSIN,MADISON,2015,"248,833",432,3,57,0,106,266,"3,170",548,"2,520",102,4
525,WISCONSIN,MADISON,2016,"248,833",395,6,56,0,99,234,"3,187",434,"2,593",160,8
526,WISCONSIN,MILWAUKEE,2015,"600,400","4,302",73,189,0,"1,674","2,366","11,680","2,587","6,072","3,021",113
527,WISCONSIN,MILWAUKEE,2016,"600,400","4,427",53,248,0,"1,531","2,595","11,359","2,358","6,026","2,975",118

In [5]:
# Rename Columns
df16.columns = ["State", "City", "Year", "Population", "Violent Crime", "Murder", "Rape-Revised", "Rape-Legacy", "Robbery", "Assault", "Property",
              "Burglary", "Larceny", "MV Theft", "Arson"]

In [6]:
df16

,State,City,Year,Population,Violent Crime,Murder,Rape-Revised,Rape-Legacy,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,"190,106",723,5,65,0,173,480,"4,121",836,"2,903",382,0
1,ALABAMA,HUNTSVILLE,2016,"190,106",876,10,80,0,213,573,"4,565",881,"3,279",405,0
2,ALASKA,ANCHORAGE,2015,"301,239","1,615",16,323,0,271,"1,005","5,732",811,"4,516",405,63
3,ALASKA,ANCHORAGE,2016,"301,239","1,692",9,302,0,326,"1,055","6,853","1,031","4,901",921,38
4,ARIZONA,CHANDLER,2015,"258,875",206,0,26,0,51,129,"2,524",384,"2,033",107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,"100,038",141,0,0,12,58,71,"1,042",206,795,41,3
524,WISCONSIN,MADISON,2015,"248,833",432,3,57,0,106,266,"3,170",548,"2,520",102,4
525,WISCONSIN,MADISON,2016,"248,833",395,6,56,0,99,234,"3,187",434,"2,593",160,8
526,WISCONSIN,MILWAUKEE,2015,"600,400","4,302",73,189,0,"1,674","2,366","11,680","2,587","6,072","3,021",113
527,WISCONSIN,MILWAUKEE,2016,"600,400","4,427",53,248,0,"1,531","2,595","11,359","2,358","6,026","2,975",118

In [7]:
#Drop commas from all values
df16 = df16.replace(',','', regex=True)

In [8]:
# Specify Columns to Change
# Change Columns to float
cols = ["Population", "Violent Crime", "Rape-Revised", "Robbery", "Assault", "Property", "Burglary", "Larceny", "MV Theft"]
df16[cols] = df16[cols].astype(int)

In [9]:
df16

,State,City,Year,Population,Violent Crime,Murder,Rape-Revised,Rape-Legacy,Robbery,Assault,Property,Burglary,Larceny,MV Theft,Arson
0,ALABAMA,HUNTSVILLE,2015,190106,723,5,65,0,173,480,4121,836,2903,382,0
1,ALABAMA,HUNTSVILLE,2016,190106,876,10,80,0,213,573,4565,881,3279,405,0
2,ALASKA,ANCHORAGE,2015,301239,1615,16,323,0,271,1005,5732,811,4516,405,63
3,ALASKA,ANCHORAGE,2016,301239,1692,9,302,0,326,1055,6853,1031,4901,921,38
4,ARIZONA,CHANDLER,2015,258875,206,0,26,0,51,129,2524,384,2033,107,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,WISCONSIN,KENOSHA,2016,100038,141,0,0,12,58,71,1042,206,795,41,3
524,WISCONSIN,MADISON,2015,248833,432,3,57,0,106,266,3170,548,2520,102,4
525,WISCONSIN,MADISON,2016,248833,395,6,56,0,99,234,3187,434,2593,160,8
526,WISCONSIN,MILWAUKEE,2015,600400,4302,73,189,0,1674,2366,11680,2587,6072,3021,113
527,WISCONSIN,MILWAUKEE,2016,600400,4427,53,248,0,1531,2595,11359,2358,6026,2975,118

In [10]:
# Create CSV
df16.to_csv("Crime_2016_Clean.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'